.leg {
	margin: 0;
	width: 90%;
	height: 100%;
	font-family: Georgia, "맑은 고딕", sans-serif;
}

.leg .category_big {
	background: #fed008;
	width: 100%;
	height: auto;
}

.leg .category_big .list_big{
	width: 100%;
	height: 2.5rem;
	padding: 0;
	margin: 0;

	list-style: none;
	font-size: 1rem;
	text-align: center;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.leg .category_big .list_big {
	width: 100%;
	height: auto;
}

.leg .category_big .list_big li:hover{
	color: white;
}

.leg .category_small {
	display: flex;
	align-items: flex-start;
	background: #dddddd;
}


.leg .category_small .list_small{
	background: #ffe800;
	list-style: none;
	margin-left: 0;
	padding-left: 1rem;
	margin-top : 0;
	margin-bottom: 0;
	width: 10rem;
}

.leg .category_small .list_small li:hover{
	font-weight: bold;
}


