.main-page {
	width: 100%;
}

.main-page .main-page-content {
	width: 80%;
	max-width: 1150px;
	min-width: 1000px;

	margin: 0 auto;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.main-page .main-page-content .welcome-wrapper {
	flex-basis: 50%;
	margin: 0 8px;
}

.main-page .main-page-content .recent-meetings {
	flex-basis: 50%;
	margin: 0 8px;
}

