.comment-element {
	background: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 8px;

	margin-bottom: 16px;
}

.comment-element .writer p {
	padding: 8px 16px;
	margin: 0;

	border-bottom: 1px solid #dddddd;
	
	font-size: 20px;
	font-weight: 600;
}

.comment-element .content {
	padding: 8px 16px;
}

.comment-element .content .text p {
	margin: 0;
	
	font-size: 16px;
}

.comment-element .content textarea {
	width: 100%;
	height: 64px;
	box-sizing: border-box;

	border: 1px solid #dddddd;

	font-size: 16px;

	resize: vertical;
}

.comment-element .content .button-set {
	margin-top: 4px;

	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.comment-element .content .button-set button {
	margin-left: 8px;

	background: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 4px;

	font-size: 12px;
	font-weight: 600;
}

