.comment-list .add-comment {
	width: 100%;

	background: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 8px;
}

.comment-list .add-comment .new-comment-title p {
	margin: 0;
	padding: 8px 16px;

	border-bottom: 1px solid #dddddd;
	
	font-size: 20px;
	font-weight: 600;
}

.comment-list .add-comment .new-comment-text {
	margin: 0;
	padding: 8px 16px;
}

.comment-list .add-comment .new-comment-text textarea {
	width: 100%;
	height: 64px;
	box-sizing: border-box;

	border: 1px solid #dddddd;

	font-size: 16px;

	resize: vertical;
}

.comment-list .add-comment .new-comment-text .button-set {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.comment-list .add-comment .new-comment-text .button-set button {
	margin-left: 8px;

	background: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 4px;

	font-size: 12px;
	font-weight: 600;
}

