.user-element {
	width: 100%;
	box-sizing: border-box;

	margin: 0;
	padding: 8px 16px;
	
	font-size: 20px;
	font-weight: 600;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.user-element .user-element-name {
	flex-grow: 1;
	width: 100%;

	margin-left: 8px;

	text-decoration: none;
	color: #000000;
}

.user-element .user-element-button-set {
	flex-shrink: 0;
	display: flex;	

}
.user-element .user-element-button-set button {
	flex-shrink: 0;
	margin: 0px 4px;
	padding: 2px 8px;

	border: 1px solid #dddddd;
	color: #ffffff;
	font-weight: 600;
	font-size: 16px;

	border-radius: 4px;
}

.user-element .user-element-button-set .accept {
	background: #2d89ef;
}

.user-element .user-element-button-set .reject {
	background: #ee1111;
}

