.foot {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	background: #dddddd;
	text-align: center;

	font-size: 16px;
	padding-top: 20px;
	margin-top: 30px;
	z-index: 999;
}

.foot .description {
	margin-top: 0px;
	margin-bottom: 0px;
}


.foot .logo {
	height: 3rem;
}

