@media(min-width:900px) {
	.searchbar .content {
		flex-direction: row;
	}
	.searchbar .content .search {
		width: 352px;
	}
}

@media(min-width:500px) and (max-width:900px) {
	.searchbar .content {
		flex-direction: column;
	}
	.searchbar .content .search {
		width: 352px;
	}

}

@media(max-width:500px) {
	.searchbar .content {
		flex-direction: column;
	}
	.searchbar .content .search {
		width: 80%;
	}

}


.searchbar {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.searchbar .content {
	display: flex;
	align-items: center;
	width: 100%;
}

.searchbar .content .logo img {
	height: 64px;
	margin-right: 16px;
	margin-left: 16px;
}

.searchbar .content .search {
	height: 32px;
	border: 2px solid black;
	border-radius: 32px;
	padding-left: 16px;
	padding-right: 16px;
}

.searchbar .content .search .search_form {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


.searchbar .content .search .input_wrapper {
	flex-grow: 1;
	height: 1rem;
	border: none;
}

.searchbar .content .search .input_wrapper input {
	border: none;
	height: 100%;
	width: 100%;
}


.searchbar .content .search img {
	height: 16px;
}
