@media(min-width:900px) {
	.user_page .head {
		flex-direction: row;
		width: 80%;
	}

	.user_page .head .profile_name {
		flex-direction: row;
	}

	.user_page .usertab {
		width: 80%;
	}
}

@media(min-width:500px) and (max-width: 900px) {
	.user_page .head {
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
	}

	.user_page .head .profile_name {
		flex-direction: row;
	}

	.user_page .usertab {
		width: 100%;
	}
}

@media(max-width: 500px) {
	.user_page .head {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.user_page .head .profile_name {
		flex-direction: column;
		align-items: center;
	}

	.user_page .usertab {
		width: 100%;
	}
}

.user_page {
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;

}

.user_page .head {
	position: relative;
	max-width: 800px;
	height: auto;
	padding: 10px 10px;
	margin: 0 auto;
	margin-bottom: 1rem;
	background: #dddddd;
	
	display: flex; 
}

.user_page .head .profile_name {
	display: flex;
}


.user_page .head .image_wrapper {
	position: relative;
	width: 168px;
	height: 168px;
	float: left;
	margin-right: 24px;
}

.user_page .head .profile .photo_cutter {
	position: absolute;
	top: 2px;
	bottom: 2px;
	left: 2px;
	right: 2px;
	border: 3px solid blue;
}

.user_page .head .profile img:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}


.user_page .head .content {
	width: auto;
	margin-top: 16px;
	margin-right: 24px;
	
}

.user_page .head .content .username {
	font-size: 2rem;
	font-weight: bold;
	margin: 0;
}

.user_page .head .content .description {
	font-size: 1rem;
	margin: 0;
	margin-top: 1rem;
}

.user_page .head .badge {
	padding: 2px;
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
}

.user_page .head .badge .report_button, .edit_button {
	display: flex;
	color: white;
	border-radius: 1rem;
	align-items: center;
	height: 1rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
	font-weight: bold;
	font-family: Arial;
}

.user_page .head .badge .report_button img, .edit_button img {
	height: 1rem;
}

.user_page .head .badge .edit_button {
	width: 54px;
	background: #1b1464;
}

.user_page .head .badge .report_button {
	width: 72px;
	background: red;
}
.user_page .usertab {
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	background: #fed008;
	align-items: center;
}

.user_page .usertab .list {
	height: 2rem;
	padding: 0;
	padding-left: 1rem;
	margin: 0;

	list-style: none;
	display: flex;
	font-weight: bold;
	font-size: 1.5rem;
	text-align: center;
	align-items: center;

}

.user_page .usertab .list li {
	padding: 0 1rem;
}

.user_page .usertab .list li:hover {
	color: white;
}

.user_page .usertab .spacer {
	flex: 1;
}

