.register {
	width: 100%;
	height: 100vh;

	margin: 0;

	background: #f8f9fa;

	display: flex;
	align-items: center;
	justify-content: center;
}

.register .field {
	border: 1px solid #fed008;
	background: #ffffff;
	text-align: center;
	padding: 16px;
}

.register .field .field-logo-wrapper {
	height: 48px;
	width: 48px;
}

.register .field hr {
	width: 366px;
	color: #fed008;
	margin: 16px 0 0 0;
}

.register .field button {
	width: 366px;
	height: 2rem;
	font-size: 1.2rem;
	font-weight: bold;
	color: black;
	background: #fed008; 
}

.register .field .reg_form h2 {
	font-size: 1.5rem;
}

.register .field .text_field {
	text-align: center;
	font-size: 1.2rem;
	height: 1.5rem;
	width: 366px;
}

.register .field .reg_form .description {
	font-size: 0.5rem
}

.register .field .description p {
	padding: 0;
	margin: 0;
}

.register .field .kakao_account_login_btn {
	margin: 8px;
	width: 16rem;
}
