.register {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	font-family: Arial;
}

.register .field {
	border: 5px solid #1b1464;
	border-radius: 2rem;
	background: #EEEEEE;
}

.register .field legend {
	font-size: 2.5rem;
	font-weight: bolder;
	text-align: center;
}

.register .field button {
	width: 16rem;
	height: 2rem;
	font-size: 1.2rem;
	font-weight: bold;
	color: black;
	background: #fed008; 
}

.register .field .reg_form h2 {
	font-size: 1.5rem;
}

.register .field input {
	text-align: center;
	font-size: 1.2rem;
	height: 1.5rem;
	width: 16rem;
}

.register .field .reg_form .description {
	font-size: 0.5rem
}

.register .field .description p {
	padding: 0;
	margin: 0;
}

