@media(min-width: 1000px) {
	.meeting-edit {
		width: 80%;
		min-width: 1000px;
		max-width: 1150px;
	}
}

@media(max-width: 1000px) and (min-width: 500px) {
	.meeting-edit {
		width: 80%;
		min-width: 500px;
		max-width: 550px;
	}
}

@media(max-width: 500px) {
	.meeting-edit {
		width: 100%;
		max-width: 500px;
	}
}

.meeting-edit {
	margin: 0 auto;
}

.meeting-edit .meeting-edit-title {
	width: 100%;
}

.meeting-edit .meeting-edit-content {
	width: 100%;

}


