@media(min-width: 1000px) {
	.meeting-form {
		flex-direction: row;
		align-items: flex-start;
	}
}

@media(max-width: 1000px) and (min-width: 500px) {
	.meeting-form {
		flex-direction: column;
		align-items: center;
	}
}

@media(max-width: 500px) {
	.meeting-form {
		flex-direction: column;
		align-items: center;
	}
}

.meeting-form {
	width: 100%;
	display: flex;

	justify-content: center;
}

.meeting-form .input-fields {
	flex-basis: 50%;

	width: 100%;
	margin: 0 8px;

	background: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 8px;

	overflow: hidden;
}

.meeting-form .input-fields .input-title {
	padding: 8px 16px;
	border-bottom: 1px solid #dddddd;
}

.meeting-form .input-fields .input-title h2 {
	margin: 0;
}

.meeting-form .input-fields .input-item {
	margin: 8px 16px;

	background: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 8px;

	font-family: Poppins, Roboto, "Helvetica Neue", Arial, sans-serif;
	display: flex;
	overflow: hidden;
}

.meeting-form .input-fields .input-item .input-item__title {
	flex-basis: 96px;
	flex-shrink: 0;
	margin: 0;
	padding: 4px 4px;

	font-size: 16px;
	font-weight: 600;
	text-align: center;
	color: #495057;

	background: #e9ecef;
}

.meeting-form .input-fields .input-item .input-item__input {
	margin: 0 0 0 8px;
	width: 100%;
	border: none;
}

.meeting-form .input-fields .input-item .input-item__date {
	margin: 0 0 0 8px;
	width: 100%;
	border: none;
}

.meeting-form .input-fields .input-item .input-item__textarea {
	margin: 0 0 0 8px;
	width: 100%;
	height: 48px;

	border: none;

	resize: vertical;
}

.meeting-form .input-fields .input-item .map-wrapper {
	width: 100%;
	height: auto;
}

.meeting-form .input-fields .submit-button {
	width: 100%;
	height: 48px;

	margin: 0px;
	margin-top: 16px;

	border: none;
	background: #fed008;

	font-size: 24px;
	font-weight: 800;
	box-sizing: border-box;
}

.meeting-form .meeting-preview {
	flex-basis: 50%;

	width: 100%;
	margin: 0 8px;
}

.meeting-warning-message {
	font-size: 12px;
	color: #ff0000;
	font-weight: 400;
	margin: 4px 32px;
}
