.notification-list {
    width: 100%;
    padding: 8px 16px;
    font-size: 30px;
    text-align: center;
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 8px;
}

.notification-list .notification-link {

}

.no-notification-wrapper {
    width: 100%;
}